<!DOCTYPE html>
<html>
<!--
  * Please see the included README.md file for license terms and conditions.
  -->
<head>
    <title>Home.io</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">

    <!-- see http://webdesign.tutsplus.com/tutorials/htmlcss-tutorials/quick-tip-dont-forget-the-viewport-meta-tag -->
       <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/app.css')}}" />         <!-- phantom library, needed for Cordova api calls, added during build -->
    <script src="{{url_for('static', filename='lib/jquery.min.js')}}"></script>  <!-- recommended location of your JavaScript code relative to other JS files -->
    <!-- <script src="{{url_for('static', filename='js/app.js')}}"></script>   normalizes device and document ready events, see README for details -->
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/getRouteParameter.js')}}"></script>
    <script src="{{url_for('static', filename='js/nav_get_comodos_script.js')}}"></script>
    <script src="{{url_for('static', filename='js/comodos_user_script.js')}}"></script>
    
</head>

<body>

        <!-- Menu  -->
    <nav class="navbar navbar-inverse" id="menu">
        <div class="container-fluid">
            
            <div class="navbar-header">
                
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <a class="navbar-brand" href="/index"><i class="glyphicon glyphicon-lamp"></i> Home.io</a>
            </div>

            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-2" aria-expanded="false">
            
                <ul class="nav navbar-nav">
              
<!--
                    <li>
                        <a href="comodos.html?id=1">Sala</a>
                    </li>
                    <li>
                        <a href="#">Cozinha</a>
                    </li>
                    <li>
                        <a href="#">Quarto</a>
                    </li>
-->
        
                </ul>
          
            </div>
            
        </div>
        
    </nav>
    
    <div class="container" id="conteudo">
        
       
        <div class="row" id="content">
            
<!--
            <div class="col-xs-12 col-sm-6 col-md-4">
                
                <button class="btn btn-default btn-block btn-lg btn-equipamento btn-on" data-estado="on">
                    <h5>Lampada 1</h5>
                    <p class="status">status: <span class="text-success">Ligado</span></p>
                    <h1><i class="glyphicon glyphicon-lamp"></i></h1>
                    <p class="acao">Desligar</p>
                </button>
                
            </div>
            
             <div class="col-xs-12 col-sm-6 col-md-4">
                
                <button class="btn btn-default btn-block btn-lg btn-equipamento btn-off" data-estado="off">
                    <h5>Lampada 2</h5>
                    <p class="status">status: <span class="text-danger">Desligado</span></p>
                    <h1><i class="glyphicon glyphicon-lamp"></i></h1>
                    <p class="acao">Ligar</p>
                </button>
                
            </div>
-->
        </div>
        
    </div>

</body>
</html>
