<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="../static/css/estilo.css" />
	<title>IpCalc</title>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="cabecalho col-md-5 col-md-offset-4 text-center">
			<h1>IPCalc</h1>
		</div>
	</div>
	<div class="row">
	  <div class="corpo col-md-5 col-md-offset-4">
	  	<form class="form-horizontal" action = "http://localhost:5000/env" method = "POST">
			<div class="form-group">
					<div class="col-sm-12">
					<input type="text" class="input form-control" id="inputEmail3" placeholder="Digite o IP" name="numIP">
					<input type="number" class="input form-control" id="inputEmail1" placeholder="Máscara de Subrede" name="numSM" min = "1" max = "32">
				</div>
			</div>
			<div class="form-group">
    				<div class="text-center col-sm-12">
      					<button type="submit" class="btn btn-default">Calcular</button>
    				</div>
  			</div>
	      </form>
	  </div>
	</div>
	<div class="row">
		<footer class="col-md-offset-3">
			<div class="devs col-md-3 text-center">
				<p>Desenvolvido por:</p>
				<p>Esdras Dutra</p>
				<p>Pedro Pimentel</p>
				<p>Sandro Silva</p>
			</div>
			<div class="inst col-md-3 text-center">
				<h5>Ufopa</h5>
				<h5>IEG</h5>
				<h5>Programa de Computação</h5>
				<h5>Módulo de Redes de Computadores I</h5>
			</div>
			<div class="col-md-3 text-center"><img class="img-responsive" src="../static/img/ufopa-logo.png"></div>
			
		</footer>
	</div>
 	
</div>
	
      
</body>


<style type="text/css">
	body{
			
	}
	.container{
		background: green;
	}
	.cabecalho{
		background: rgba(53,108,51,251);
		border-radius: 10px;

	}
	.devs p, .inst h5{
		margin: 0px
	}
	.corpo{
		height: 290px;
	}
	.input {
		margin-top:38px;
	}
	.row{
		margin:0px;
	}
</style>
</html>